h1 {
  color: rgb(23, 7, 7);
}
body {
  margin: 0;
  padding: 0;
  background-color: white; /* #1d2634*/
  color: #000000;
  font-family: sans-serif;
}

.date-picker-input {
  padding: 8px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 4px;
  margin-right: 10px;
}

.country-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.main-input {
  outline-color: rgb(107, 107, 179);
  border: solid 1px lightblue;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.filter-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
}

.filter-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.filter-button:active {
  background-color: #003d80;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "Sidebar header header header"
    "Sidebar main main";
  height: 100vh;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.close_icon {
  color: rgb(2, 2, 2);
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* header */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icons {
  display: none;
}

.main-container {
  grid-area: main;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;

  justify-content: center;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}
